<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>

    <link rel="stylesheet" href="css/main.css">

</head>
<body>
    <form class="pure-form" id="comment-form">
        <div class="comment-form">
            <div class="left-side"> 
                  <div class="row">
                      <textarea placeholder="enter comment text" required id="new_comment_text" rows="3"></textarea>
                  </div>
            </div>
           <div class="right-side">
                  <button type="submit" class="button-secondary pure-button">Send Comment</button>
           </div>
       </div>
      </form>

<footer>
    <script type="module" src="js/index.js"></script>
</footer>

</body>
</html>